@charset "utf-8";

/*GERAL*/
h1 {
    font-size: 50px;
}

/*MAIN*/
main {
    padding: 50px 0;
}
.main {
    margin: auto;
}
#main {
    display: flex;
    justify-content: space-evenly;
}
#main > img {
    margin: auto;
}
/*SECTION*/
.s001 {
    display: flex;
    justify-content: space-evenly;
}
q{
    max-width: 300px;
}

/*SECTION2*/
#finance {
    display: flex;
    justify-content: space-evenly;
}